# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used languages used by Data Scientists include:
   * 1. Python
   * 2. R
   * 3. Julia

Some of the commonly used libraries used by Data Scientists include:
   * 1. scikit-learn
   * 2. pandas
   * 3. matplotlib



| Data Science Tools |
|:--------:|
|  Jupyter Notebook   |
| Spyder  |
|  RStudio  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Perform arithmetic operations
* Create and work on Jupyter Notebooks

## Author
Sarp G.